[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
dj-database-url = "*"
asgiref = "*"
django-crispy-forms = "*"
django-heroku = "*"
gunicorn = "*"
psycopg2 = "*"
pytz = "*"
sqlparse = "*"
whitenoise = "*"

[requires]
python_version = "3.7"
